<!DOCTYPE html>
<html>
    <head>
        {% include '@Nurse/Default/base/header.html.twig' %}
    </head>
    <body>

        {% include '@Nurse/Default/base/nav.html.twig' %}

        {% block body %}
        {% endblock %}

        {% include '@Nurse/Default/base/javascript.html.twig' %}
    </body>
</html>
